
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}

body{
    min-height: 100vh;
    width: 100%;
    margin:0px;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
    width: 100%;
}

header{
    background-color: gray;
    color:white;
    position: fixed; 
    inset: auto 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 4px;
}
footer{
    min-height: 400px;
    background-color: black;
    color: white;
}

section{
    min-height: 100vh;
    padding: 16px 0px;
}