.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.hero-container {
  background-color: black;
  color: white;
}

.container {
  min-width: 70vw;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
}

header {
  background-color: rgba(67, 67, 67, 0.8);
  color: white;
  position: fixed;
  inset: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

footer {
  min-height: 400px;
  background-color: black;
  color: white;
}

section {
  min-height: 100vh;
  padding: 16px 0px;
}
.product-select {
  background: blue;
  color: white;
  border-radius: 20px;
  font-size: 24px;
  padding: 2px 20px;
  border: blue solid 2px;
}
